/* .cartimg{
    background-image: url(https://pbs.twimg.com/media/DT6Rv2SXkAE_r_8.jpg);
    background-repeat: no-repeat;
    background-size: contain;
} */

/* maybe do something like this for imgs in the cart ^^^ */