/* .catimg{
    background-image: url(../../assets/content/cat-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
    position: absolute;
} */